/* Feel free to change any of the styling below!*/
body {
    text-align: center;
}

.Text{
	font-size: 25px;
}

.opening-image {
	width: 40px;
}

.img-margin {
	margin-left: 100px;
    margin-right: 100px;
}

.interactable-img {
	width: 20%;
    border: solid 5px;
    border-radius: 5px;
}

img {
    width: 40%;
    border: solid 5px #C4453B;
    border-radius: 5px;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.background-color {
    color: #2CD35F;
    background-color: #C4453B;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button-margin {
	margin-left: 50px;
    margin-right: 50px;
    border: black solid 3px;
    border-radius: 5px;
}

.small-font {
	font-size: 40px;
}

.opening-image{
 width: 100%;
}

p {
    font-size: 30px;
    font-weight: 800;
}

button {
    height: 40px;
}

h1 {
    font-size: 50px;
    color: black;
}
 
.option-one-screen{
   display:none;
}

.option-two-screen{
   display:none;
}
 
.option-one-end{
   display:none;
}
 
.option-two-end{
   display:none;
}